In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [ ]:
print(engine.table_names())

In [5]:
# reflect an existing database into a new model
# Reflect Database into ORM classes
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)
Base.classes.keys()

['measurement', 'station']

In [ ]:
result = engine.execute("SELECT * FROM measurement")
for row in result:
    print (row)
result.close()

In [6]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [7]:
# Save references to each table
Measurements = Base.classes.measurement
Stations = Base.classes.station

In [8]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [9]:
# Find the most recent date in the data set.
#session.query(Measurements.date).group_by(Measurements.date).all()
session.query(func.max(Measurements.date)).all()

[('2017-08-23')]

In [43]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 
data1 = session.query(func.max(Measurements.date),Measurements.prcp).all()
# Calculate the date one year from the last date in data set.
maxdate = '2017-08-23'
#maxdate was '2017-08-23'
mindate = '2016-08-23'

# Perform a query to retrieve the data and precipitation scores
data2 = session.query(Measurements.date,Measurements.prcp).\
    filter(Measurements.date < maxdate).\
    filter(Measurements.date > mindate).\
    group_by(Measurements.date).all()
data2

[('2016-08-24', 0.08),
 ('2016-08-25', 0.08),
 ('2016-08-26', 0.0),
 ('2016-08-27', 0.0),
 ('2016-08-28', 0.01),
 ('2016-08-29', 0.0),
 ('2016-08-30', 0.0),
 ('2016-08-31', 0.13),
 ('2016-09-01', 0.0),
 ('2016-09-02', 0.0),
 ('2016-09-03', 0.0),
 ('2016-09-04', 0.03),
 ('2016-09-05', None),
 ('2016-09-06', None),
 ('2016-09-07', 0.05),
 ('2016-09-08', 0.0),
 ('2016-09-09', 0.03),
 ('2016-09-10', 0.0),
 ('2016-09-11', 0.05),
 ('2016-09-12', 0.0),
 ('2016-09-13', 0.02),
 ('2016-09-14', 1.32),
 ('2016-09-15', 0.42),
 ('2016-09-16', 0.06),
 ('2016-09-17', 0.05),
 ('2016-09-18', 0.0),
 ('2016-09-19', 0.0),
 ('2016-09-20', 0.0),
 ('2016-09-21', 0.0),
 ('2016-09-22', 0.02),
 ('2016-09-23', 0.0),
 ('2016-09-24', 0.0),
 ('2016-09-25', 0.0),
 ('2016-09-26', 0.06),
 ('2016-09-27', 0.02),
 ('2016-09-28', 0.0),
 ('2016-09-29', 0.0),
 ('2016-09-30', 0.0),
 ('2016-10-01', 0.0),
 ('2016-10-02', 0.0),
 ('2016-10-03', 0.0),
 ('2016-10-04', 0.0),
 ('2016-10-05', 0.0),
 ('2016-10-06', 0.0),
 ('2016-10-07', 0.0),
 ('2016-10-08', 0.0),
 ('2016-10-09', 0.0),
 ('2016-10-10', 0.0),
 ('2016-10-11', 0.0),
 ('2016-10-12', 0.0),
 ('2016-10-13', 0.0),
 ('2016-10-14', 0.0),
 ('2016-10-15', 0.0),
 ('2016-10-16', 0.0),
 ('2016-10-17', 0.01),
 ('2016-10-18', 0.0),
 ('2016-10-19', 0.0),
 ('2016-10-20', 0.0),
 ('2016-10-21', 0.05),
 ('2016-10-22', 0.15),
 ('2016-10-23', 0.01),
 ('2016-10-24', 0.0),
 ('2016-10-25', 0.03),
 ('2016-10-26', 0.0),
 ('2016-10-27', 0.0),
 ('2016-10-28', 0.0),
 ('2016-10-29', 0.0),
 ('2016-10-30', 0.24),
 ('2016-10-31', 0.03),
 ('2016-11-01', 0.0),
 ('2016-11-02', 0.0),
 ('2016-11-03', 0.0),
 ('2016-11-04', 0.0),
 ('2016-11-05', 0.0),
 ('2016-11-06', 0.0),
 ('2016-11-07', 0.0),
 ('2016-11-08', 0.07),
 ('2016-11-09', 0.0),
 ('2016-11-10', 0.0),
 ('2016-11-11', 0.0),
 ('2016-11-12', 0.0),
 ('2016-11-13', 0.0),
 ('2016-11-14', 0.0),
 ('2016-11-15', 0.0),
 ('2016-11-16', 0.0),
 ('2016-11-17', 0.0),
 ('2016-11-18', 0.0),
 ('2016-11-19', 0.03),
 ('2016-11-20', 0.05),
 ('2016-11-21', 0.01),
 ('2016-11-22', 0.13),
 ('2016-11-23', 0.14),
 ('2016-11-24', 0.05),
 ('2016-11-25', 0.05),
 ('2016-11-26', 0.05),
 ('2016-11-27', 0.0),
 ('2016-11-28', 0.01),
 ('2016-11-29', 0.0),
 ('2016-11-30', 0.14),
 ('2016-12-01', 0.12),
 ('2016-12-02', 0.03),
 ('2016-12-03', 0.0),
 ('2016-12-04', 0.03),
 ('2016-12-05', 0.43),
 ('2016-12-06', 0.02),
 ('2016-12-07', 0.0),
 ('2016-12-08', 0.03),
 ('2016-12-09', 0.52),
 ('2016-12-10', 0.05),
 ('2016-12-11', 0.04),
 ('2016-12-12', 0.01),
 ('2016-12-13', 0.05),
 ('2016-12-14', 0.03),
 ('2016-12-15', 0.0),
 ('2016-12-16', 0.0),
 ('2016-12-17', 0.01),
 ('2016-12-18', 0.13),
 ('2016-12-19', 0.01),
 ('2016-12-20', 0.0),
 ('2016-12-21', 0.0),
 ('2016-12-22', 0.01),
 ('2016-12-23', 0.01),
 ('2016-12-24', 0.01),
 ('2016-12-25', 0.0),
 ('2016-12-26', 0.02),
 ('2016-12-27', 0.0),
 ('2016-12-28', 0.02),
 ('2016-12-29', 0.04),
 ('2016-12-30', 0.12),
 ('2016-12-31', 0.01),
 ('2017-01-01', 0.0),
 ('2017-01-02', 0.0),
 ('2017-01-03', 0.0),
 ('2017-01-04', 0.0),
 ('2017-01-05', 0.0),
 ('2017-01-06', 0.0),
 ('2017-01-07', 0.0),
 ('2017-01-08', 0.0),
 ('2017-01-09', 0.0),
 ('2017-01-10', 0.0),
 ('2017-01-11', 0.0),
 ('2017-01-12', 0.0),
 ('2017-01-13', 0.0),
 ('2017-01-14', 0.0),
 ('2017-01-15', 0.0),
 ('2017-01-16', 0.0),
 ('2017-01-17', 0.0),
 ('2017-01-18', 0.0),
 ('2017-01-19', 0.0),
 ('2017-01-20', 0.0),
 ('2017-01-21', 0.0),
 ('2017-01-22', 0.16),
 ('2017-01-23', 0.0),
 ('2017-01-24', 0.04),
 ('2017-01-25', 0.03),
 ('2017-01-26', 0.0),
 ('2017-01-27', 0.0),
 ('2017-01-28', 0.0),
 ('2017-01-29', 0.18),
 ('2017-01-30', 0.0),
 ('2017-01-31', 0.0),
 ('2017-02-01', 0.0),
 ('2017-02-02', 0.0),
 ('2017-02-03', 0.0),
 ('2017-02-04', 0.0),
 ('2017-02-05', 0.0),
 ('2017-02-06', 0.0),
 ('2017-02-07', 0.51),
 ('2017-02-08', 0.0),
 ('2017-02-09', 0.0),
 ('2017-02-10', 0.0),
 ('2017-02-11', 0.31),
 ('2017-02-12', 2.62),
 ('2017-02-13', 0.01),
 ('2017-02-14', 0.0),
 ('2017-02-15', 0.0),
 ('2017-02-16', 0.07),
 ('2017-02-17', 0.0),
 ('2017-02-18', 0.0),
 ('2017-02-19', 0.0),
 ('2017-02-20', 0.0),
 ('2017-02-21', 0.06),
 ('2017-02-22', 0.06),
 ('2017-02-23', 0.01),
 ('2017-02-24', 0.0),
 ('2017-02-25', 0.03),
 ('2017-02-26', 0.0),
 ('2017-02-27', 0.0),
 ('2017-02-28', 0.0),
 ('2017-03-01', 1.19),
 ('2017-03-02', 0.73),
 ('2017-03-03', 0.47),
 ('2017-03-04', 0.0),
 ('2017-03-05', 0.35),
 ('2017-03-06', 0.0),
 ('2017-03-07', 0.0),
 ('2017-03-08', 0.0),
 ('2017-03-09', 0.0),
 ('2017-03-10', 0.0),
 ('2017-03-11', 0.0),
 ('2017-03-12', 0.0),
 ('2017-03-13', 0.0),
 ('2017-03-14', 0.0),
 ('2017-03-15', 0.0),
 ('2017-03-16', 0.0),
 ('2017-03-17', 0.0),
 ('2017-03-18', 0.0),
 ('2017-03-19', 0.0),
 ('2017-03-20', 0.0),
 ('2017-03-21', 0.0),
 ('2017-03-22', 0.0),
 ('2017-03-23', 0.0),
 ('2017-03-24', 0.02),
 ('2017-03-25', 0.0),
 ('2017-03-26', 0.0),
 ('2017-03-27', 0.0),
 ('2017-03-28', 0.0),
 ('2017-03-29', 0.0),
 ('2017-03-30', 0.0),
 ('2017-03-31', 0.0),
 ('2017-04-01', 0.0),
 ('2017-04-02', 0.0),
 ('2017-04-03', 0.0),
 ('2017-04-04', 0.0),
 ('2017-04-05', 0.0),
 ('2017-04-06', 0.0),
 ('2017-04-07', 0.0),
 ('2017-04-08', 0.0),
 ('2017-04-09', 0.0),
 ('2017-04-10', 0.0),
 ('2017-04-11', 0.0),
 ('2017-04-12', 0.0),
 ('2017-04-13', 0.0),
 ('2017-04-14', 0.26),
 ('2017-04-15', 0.01),
 ('2017-04-16', 0.0),
 ('2017-04-17', 0.02),
 ('2017-04-18', 0.0),
 ('2017-04-19', 0.02),
 ('2017-04-20', 0.05),
 ('2017-04-21', 0.23),
 ('2017-04-22', 0.32),
 ('2017-04-23', 0.03),
 ('2017-04-24', 0.0),
 ('2017-04-25', 0.0),
 ('2017-04-26', 0.0),
 ('2017-04-27', 0.0),
 ('2017-04-28', 0.0),
 ('2017-04-29', 0.12),
 ('2017-04-30', 0.89),
 ('2017-05-01', 0.26),
 ('2017-05-02', 0.0),
 ('2017-05-03', 0.0),
 ('2017-05-04', 0.0),
 ('2017-05-05', 0.0),
 ('2017-05-06', 0.0),
 ('2017-05-07', 0.0),
 ('2017-05-08', 0.0),
 ('2017-05-09', 1.62),
 ('2017-05-10', 0.0),
 ('2017-05-11', 0.01),
 ('2017-05-12', 0.0),
 ('2017-05-13', 0.0),
 ('2017-05-14', 0.0),
 ('2017-05-15', 0.05),
 ('2017-05-16', 0.01),
 ('2017-05-17', 0.0),
 ('2017-05-18', 0.01),
 ('2017-05-19', 0.0),
 ('2017-05-20', 0.0),
 ('2017-05-21', 0.0),
 ('2017-05-22', 0.0),
 ('2017-05-23', 0.08),
 ('2017-05-24', 0.13),
 ('2017-05-25', 0.15),
 ('2017-05-26', 0.02),
 ('2017-05-27', 0.01),
 ('2017-05-28', 0.02),
 ('2017-05-29', 0.0),
 ('2017-05-30', 0.26),
 ('2017-05-31', 0.02),
 ('2017-06-01', 0.0),
 ('2017-06-02', 0.0),
 ('2017-06-03', 0.02),
 ('2017-06-04', 0.0),
 ('2017-06-05', 0.0),
 ('2017-06-06', 0.0),
 ('2017-06-07', 0.0),
 ('2017-06-08', 0.0),
 ('2017-06-09', 0.0),
 ('2017-06-10', 0.04),
 ('2017-06-11', 0.08),
 ('2017-06-12', 0.02),
 ('2017-06-13', 0.0),
 ('2017-06-14', 0.0),
 ('2017-06-15', 0.0),
 ('2017-06-16', 0.0),
 ('2017-06-17', 0.0),
 ('2017-06-18', 0.05),
 ('2017-06-19', 0.0),
 ('2017-06-20', 0.02),
 ('2017-06-21', 0.0),
 ('2017-06-22', 0.0),
 ('2017-06-23', 0.0),
 ('2017-06-24', 0.06),
 ('2017-06-25', 0.0),
 ('2017-06-26', 0.0),
 ('2017-06-27', 0.0),
 ('2017-06-28', 0.0),
 ('2017-06-29', 0.0),
 ('2017-06-30', 0.08),
 ('2017-07-01', 0.02),
 ('2017-07-02', 0.02),
 ('2017-07-03', 0.04),
 ('2017-07-04', 0.04),
 ('2017-07-05', 0.0),
 ('2017-07-06', 0.0),
 ('2017-07-07', 0.0),
 ('2017-07-08', 0.0),
 ('2017-07-09', 0.0),
 ('2017-07-10', 0.0),
 ('2017-07-11', 0.0),
 ('2017-07-12', 0.0),
 ('2017-07-13', 0.07),
 ('2017-07-14', 0.02),
 ('2017-07-15', 0.0),
 ('2017-07-16', 0.02),
 ('2017-07-17', 0.03),
 ('2017-07-18', 0.05),
 ('2017-07-19', 0.0),
 ('2017-07-20', 0.03),
 ('2017-07-21', 0.0),
 ('2017-07-22', 0.03),
 ('2017-07-23', 0.0),
 ('2017-07-24', 0.05),
 ('2017-07-25', 0.0),
 ('2017-07-26', 0.0),
 ('2017-07-27', 0.0),
 ('2017-07-28', 0.0),
 ('2017-07-29', 0.0),
 ('2017-07-30', 0.0),
 ('2017-07-31', 0.0),
 ('2017-08-01', 0.02),
 ('2017-08-02', 0.0),
 ('2017-08-03', 0.0),
 ('2017-08-04', 0.02),
 ('2017-08-05', 0.0),
 ('2017-08-06', 0.0),
 ('2017-08-07', 0.0),
 ('2017-08-08', 0.0),
 ('2017-08-09', 0.0),
 ('2017-08-10', 0.0),
 ('2017-08-11', 0.0),
 ('2017-08-12', 0.0),
 ('2017-08-13', 0.0),
 ('2017-08-14', 0.0),
 ('2017-08-15', 0.02),
 ('2017-08-16', 0.0),
 ('2017-08-17', 0.0),
 ('2017-08-18', 0.0),
 ('2017-08-19', 0.0),
 ('2017-08-20', 0.0),
 ('2017-08-21', 0.0),
 ('2017-08-22', 0.0)]

In [ ]:
df = pd.DataFrame(data2, columns = ['date','prcp'])
#newdata2 = [][]
i = 0
# Save the query results as a Pandas DataFrame and set the index to the date column
#for i in range(359):
#    newdata2[i][0] = (df.loc[i]['date'])
#    newdata2[i][1] = (df.loc[i]['prcp'])
#df = pd.DataFrame(data2, columns = ['date','prcp'])
#df
#newdf = df.set_index('date')
# printing the dataframe
#newdf
#newdata2

# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data
fig = df.plot(kind="bar", title="Title")
#plt.minorticks_on()
plt.show()

In [14]:
# Use Pandas to calcualte the summary statistics for the precipitation data
df.describe()

              prcp
count  2011.000000
mean      0.176549
std       0.460667
min       0.000000
25%       0.000000
50%       0.020000
75%       0.130000
max       6.700000

# Exploratory Station Analysis

In [16]:
# Design a query to calculate the total number stations in the dataset
session.query(func.count(Stations.station)).all()

[(9)]

In [27]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.
data3 = session.query(Measurements.station, func.count(Measurements.tobs)).\
    group_by(Measurements.station).all()
data3

[('USC00511918', 1979),
 ('USC00513117', 2709),
 ('USC00514830', 2202),
 ('USC00516128', 2612),
 ('USC00517948', 1372),
 ('USC00518838', 511),
 ('USC00519281', 2772),
 ('USC00519397', 2724),
 ('USC00519523', 2669)]

In [36]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.
data4 = session.query(Measurements.station, Measurements.tobs).\
    filter(Measurements.station == 'USC00519397')
tempdf = pd.DataFrame(data4, columns = ['station','temp'])
tempdf.agg(['min','max', 'mean'])

          station       temp
min   USC00519397  56.000000
max   USC00519397  87.000000
mean          NaN  74.553231

In [37]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram
data5 = session.query(Measurements.date,Measurements.tobs).\
    filter(Measurements.date < maxdate).\
    filter(Measurements.date > mindate).\
    group_by(Measurements.date).all()
data5

# Save the query results as a Pandas DataFrame and set the index to the date column
histdf = pd.DataFrame(data5, columns = ['date','tobs'])
#histdf
newhistdf = df.set_index('date')

           date  tobs
0    2016-08-24  0.08
1    2016-08-25  0.08
2    2016-08-26  0.00
3    2016-08-27  0.00
4    2016-08-28  0.01
..          ...   ...
359  2017-08-18  0.00
360  2017-08-19  0.00
361  2017-08-20  0.00
362  2017-08-21  0.00
363  2017-08-22  0.00

[364 rows x 2 columns]

# Close session

In [ ]:
# Close Session
session.close()